<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My blog</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
        <nav>
          <ul>
            <li><a href="/posts">Articles</a></li>
            <li><a href="/add_article">Add article</a></li>
            <li><a href="/update-article">Update article</a></li>
          </ul>
        </nav>
    </header>

    <main>
      <section>
        <h1>My blog</h1>
      </section>
      <section>
        <article>
          <h2>Title</h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
            eaque cumque consequuntur ratione molestias odio suscipit aliquid
            porro natus iste amet unde maiores, et odit iusto non. Rem, sed
            necessitatibus!
          </p>
      </section>
    </main>
    <footer>
      <h1>Footer</h1>
    </footer>
  </body>
</html>
