<header>
  <div id="logoContainer">
    <a href="/"><img src="/logo.png" alt="logo" id="logo" /></a>
  </div>
  <div>
    <h1>My Blog</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><a href="/posts">Articles</a></li>
      <li><a href="/add-article">Créer un Article</a></li>
      <li><a href="/update-article">Modifier Article</a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><a href="/login">Login/Logout</a></li>
    </ul>
  </nav>
</header>
