<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My blog</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li><a href="/posts">Articles</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <h1>My blog</h1>
      </section>
      <section id="posts">
        <article>
          <h2>Title</h2>
          {{posts}}
      </section>
    </main>
    <footer>
      <h1>Footer</h1>
    </footer>
  </body>
</html>
