<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>My blog</title>
  </head>
  <body>
    <header>
      <div id="logoContainer">
        <a href="#"><img src="/logo.png" alt="logo" id="logo" /></a>
      </div>
      <div>
        <h1>My Blog</h1>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li><a href="/posts">Articles</a></li>
          <li><a href="/add-article">Add article</a></li>
          <li><a href="/update-article">Update article</a></li>
        </ul>
      </nav>

      <nav>
        <ul>
          <li><a href="/login">Login/Logout</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h1>My blog</h1>
      </section>
      <section id="posts">
        <article>
          <h2>Title article</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore
            culpa ipsum esse omnis recusandae eaque, similique laborum dolores
            tempora itaque rerum officia sunt cumque excepturi labore autem enim
            nostrum ...
          </p>
          <div class="containerCta">
            <a href="#" class="seeMore">See more</a>
          </div>
        </article>
      </section>
      <button>Test</button>
    </main>
    <footer>
      <h1>Footer</h1>
    </footer>
  </body>
</html>
